:root {
  --background-color: #f8f6f4;
  --foreground-color: #303841;
  --border-color: #d8d8d8;
  --primary: #dceaf8;
  --animation-property: all;
  --animation-duration: 0.5s;
  --animation-timing-curve: ease-in-out;
  --inactive-day-color: #e8e8e8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #313131;
    --border-color: #525252;
    --foreground-color: #fbfaf5;
    --inactive-day-color: #282727;
  }
}
.main-wrapper {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
}
.calendar-wrapper {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--foreground-color);
}
.sidebar-wrapper {
  background-color: var(--background-color);
  flex-direction: column;
  width: 20%;
  left: -20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  gap: 30px;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
  color: var(--foreground-color);
}
.sidebar-wrapper-open {
  width: 20%;
  left: 0%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  background-color: var(--background-color);
}

.create-task-button-wrapper {
  width: 60%;
  height: 40px;
  display: flex;
}
.create-task-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.15rem solid var(--border-color);
  border-radius: 0.25rem;
}
.create-task-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: none;
}
.small-calendar-wrapper {
  height: 40%;
  display: flex;
  width: 85%;
  flex-direction: column;
  padding: 20px;
}
.month-view-outer-wrapper-open {
  position: absolute;
  top: 10%;
  width: 80%;
  left: 20%;
  height: 90%;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
}
.header-wrapper {
  background-color: var(--background-color);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 2;
  border-bottom: 2px solid var(--border-color);
}
.month-view-outer-wrapper {
  background-color: var(--background-color);
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 0%;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
}

.weekday-header-wrapper {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.month-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
}
.day-wrapper {
  cursor: pointer;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
  font-size: small;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inactive-day-wrapper {
  cursor: pointer;
  background-color: var(--inactive-day-color);
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  font-size: small;
  font-weight: 400;
}

.toggle-button-wrapper {
  height: 100%;
  width: 5%;
  display: flex;
}
.toggle-button {
  margin: auto;
  cursor: pointer;
  height: 18px;
  background: none;
  border: none;
  color: var(--foreground-color);
}
.headername-wrapper {
  height: 100%;
  width: 35%;
  display: flex;
}
.change-view-wrapper {
  height: 100%;
  width: 15%;
  display: flex;
}
.change-view-button {
  cursor: pointer;
  margin: auto;
  padding: 0.15rem;
  width: 60%;
  height: 30px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.header-name {
  margin: auto;
  font-size: large;
}
.today-button-wrapper {
  width: 15%;
  height: 100%;
  display: flex;
}
.today-button {
  cursor: pointer;
  margin: auto;
  padding: 0.15rem;
  width: 60%;
  height: 30px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.today-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.prevmonth-button-wrapper {
  height: 100%;
  width: 10%;
  display: flex;
}
.prevmonth-button {
  cursor: pointer;
  margin: auto;
  width: 50%;
  height: 18px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.prevmonth-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.nextmonth-button-wrapper {
  height: 100%;
  width: 10%;
  display: flex;
}
.nextmonth-button {
  cursor: pointer;
  margin: auto;
  width: 50%;
  height: 18px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.nextmonth-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.month-header-wrapper {
  height: 100%;
  width: 40%;
  display: flex;
}
.month-header {
  margin: auto;
  font-size: large;
}
.day {
  width: 100%;
  display: flex;
  padding-top: 2px;
  align-items: center;
  justify-content: center;
}
.today-title {
  font-size: small;
  font-weight: 500;
  background-color: var(--foreground-color);
  color: var(--background-color);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.sc-today-title {
  background-color: var(--foreground-color);
  width: 80%;
  display: flex;
  height: 100%;
  padding-inline: 2px;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  border-radius: 1rem;
  font-size: small;
  font-weight: 500;
}

.event-bar {
  background-color: skyblue;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-bar-wrapper {
  position: relative;
  height: 20px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-top: 2px;
}
.small-calendar {
  display: grid;
  width: 100%;
  height: 50%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: var(--foreground-color);
  padding-top: 10px;
  /* gap: 8px; */
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}
.navigate-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  position: sticky;
  /* padding-bottom: 6px; */
  height: 20px;
}
.small-calendar-day-wrapper {
  /* margin: auto; */
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-calendar-day-inactive-wrapper {
  /* margin: auto; */
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color);
}
.small-calendar-monthname {
  font-size: medium;
  position: absolute;
  left: 2%;
}
.up-button {
  position: absolute;
  left: 75%;
  cursor: pointer;
}
.down-button {
  position: absolute;
  left: 93%;
  cursor: pointer;

}
.small-calendar-weekday-header-wrapper {
  font-size: small;
  color: var(--foreground-color);
  /* padding-top: 4px; */
}
.weekday-top-header {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 16px;
  padding-top: 14px;
  font-size: small;
  padding-left: 2px;
  height: 18px;
  color: var;
  font-weight: 600;
  color: var(--foreground-color);
}
.weekday-headername{
  display: flex;
  justify-content: center;
  align-items: center;
}