:root {
  --background-color: #f8f6f4;
  --foreground-color: #303841;
  --border-color: #d8d8d8;
  --primary: #dceaf8;
  --animation-property: all;
  --animation-duration: 0.5s;
  --animation-timing-curve: ease-in-out;
  --inactive-day-color: #e8e8e8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #313131;
    --border-color: #525252;
    --foreground-color: #fbfaf5;
    --inactive-day-color:#282727;
  }
}
.main-wrapper {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;

}
.calendar-wrapper {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--foreground-color);
}
.sidebar-wrapper {
  background-color: var(--background-color);
  flex-direction: column;
  width: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  gap: 30px;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
  color: var(--foreground-color);
}
.sidebar-wrapper-open {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
  background-color: var(--background-color);
}

.create-task-button-wrapper {
  width: 60%;
  height: 40px;
  display: flex;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
  white-space: nowrap;
}
.create-task-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: none;
  /* border: 0.15rem solid var(--border-color);
  border-radius: 0.25rem; */
  display: flex;
  padding: 6px;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar-wrapper-open .create-task-button {
  border: 0.15rem solid var(--border-color);
  border-radius: 0.25rem;
}
.sidebar-wrapper-open .create-task-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.15rem solid var(--foreground-color);
}
.sidebar-wrapper-open .create-task-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.15rem solid var(--foreground-color);
}
.small-calendar-wrapper {
  height: 40%;
  width: 0%;
  transition: all 1s ease-in;
}
.sidebar-wrapper-open .small-calendar-wrapper {
  display: block;
  width: 100%;
  height: 40%;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
}
.month-view-outer-wrapper-open {
  position: absolute;
  top: 10%;
  width: 80%;
  left: 20%;
  height: 90%;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
}
.header-wrapper {
  background-color: var(--background-color);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 2;
  border-bottom: 2px solid var(--border-color);
}
.month-view-outer-wrapper {
  background-color: var(--background-color);
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 0%;
  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve);
}
.month-header-wrapper {
  background-color: var(--background-color);
  width: 100%;
  height: 5%;
}
.weekday-header-wrapper {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.month-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
}
.day-wrapper {
  cursor: pointer;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  padding-top: 5px;
  font-size: small;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inactive-day-wrapper {
  cursor: pointer;
  background-color: var(--inactive-day-color);
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  font-size: small;
  font-weight: 400;
}

.toggle-button-wrapper {
  height: 100%;
  width: 5%;
  display: flex;
}
.toggle-button {
  margin: auto;
  /* width: 15px; */
  cursor: pointer;
  /* height: %; */
  height: 18px;
  /* font-size: small; */
  background: none;
  border: none;
  color: var(--foreground-color);
  /* border: 1px solid var(--border-color); */
  /* border-radius: 0.25rem; */
}
.headername-wrapper {
  height: 100%;
  width: 35%;
  display: flex;
}
.change-view-wrapper {
  height: 100%;
  width: 15%;
  display: flex;
}
.change-view-button {
  cursor: pointer;
  margin: auto;
  padding: 0.15rem;
  width: 60%;
  height: 30px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
/* .change-view-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.10rem solid var(--foreground-color);

} */
.create-task-title {
  display: none;
  /* display: block; */
  /* width: 0%; */
}
.sidebar-wrapper-open .create-task-title {
  /* display: block; */
  width: 100%;
  display: block;

  transition: var(--animation-property) var(--animation-duration)
    var(--animation-timing-curve) 2s;
}
.create-task-title:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
.header-name {
  margin: auto;
  font-size: large;
}
.today-button-wrapper {
  width: 15%;
  height: 100%;
  display: flex;
}
.today-button {
  cursor: pointer;
  margin: auto;
  padding: 0.15rem;
  width: 60%;
  height: 30px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.today-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.prevmonth-button-wrapper {
  height: 100%;
  width: 10%;
  display: flex;
}
.prevmonth-button {
  cursor: pointer;
  margin: auto;
  width: 50%;
  height: 18px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.prevmonth-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.nextmonth-button-wrapper {
  height: 100%;
  width: 10%;
  display: flex;
}
.nextmonth-button {
  cursor: pointer;
  margin: auto;
  width: 50%;
  height: 18px;
  padding: 3px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.25rem;
}
.nextmonth-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 0.1rem solid var(--foreground-color);
}
.month-header-wrapper {
  height: 100%;
  width: 40%;
  display: flex;
}
.month-header {
  margin: auto;
  font-size: large;
}
.day {
  width: 100%;
  /* height: 20px; */
  display: flex;
  padding-top: 2px;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.today-title{
  background-color: var(--foreground-color);
  width: 25px;
  /* margin: auto; */
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  border-radius: 1rem;
  font-size: small;
  font-weight: 500;
}
.event-bar-wrapper{

}
.event-bar{
  background-color: skyblue;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 13px; */
  /* margin-right: 13px; */
}
.event-bar-wrapper{
  position: relative;
  height: 20px;
  /* padding: 4px; */
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-top: 2px;

}