.logo {
  /* //background: url(/src/calendar-react/assets/logo.png); */
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(24, 38, 64, 0.829);
  margin-right: 10px;
  /* width: 30px;
    height: 30px; */
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main-header {
  display: flex;
  margin: 10px;
  height: 8%;
  color: rgba(24, 38, 64, 0.829);
  justify-content: flex-start;
  align-items: center;
}
.calendar-container {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}
.navigate-months{
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}
.month-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: rgba(24, 38, 64, 0.829);
  border: 1px solid rgba(0, 0, 0, 0.235);
  color: #fafafa;
  font-weight: 600;
  font-size: medium;
}
.month-navigate-button-prev{
  cursor: pointer;
  color: #fafafa;
  position: fixed;
  margin-left: 10px;
}
.month-navigate-button-next{
  cursor: pointer;
  color: #fafafa;
  position: fixed;
  right: 0;
  margin-right: 10px;
  
}

.weekday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 5%;
  font-weight: 500;
  font-size: small;
}
.weekday-name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.235);
  border-right: 1px solid rgba(0, 0, 0, 0.235);

}
.month-container {
  height: 100%;
  width: 100%;
}
.month {
  display: grid;
  height: 90%;
  width: 100%;
}
.calendar-day {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.235);
  padding: 6px;
  font-size: smaller;
  cursor: pointer;
}
/* .calendar-day:hover{
  background-color: yellow;
} */
.today {
  background-color: rgba(24, 38, 64, 0.829);
  border: 1px solid rgba(0, 0, 0, 0.235);
  padding: 6px;
  color: #fafafa;
  font-size: smaller;
  cursor: pointer;

}
.calendar-day-inactive {
  background-color: rgba(77, 77, 78, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.235);
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: rgba(77, 77, 78, 0.381);
  border: 1px solid rgba(0, 0, 0, 0.235);
}
.task-button {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10%;
  border-radius: 1rem;
  border: 1.5px solid rgba(24, 38, 64, 0.829);
  background-color: #fafafa;
  width: 80%;
  color: rgba(24, 38, 64, 0.829);
  font-weight: 600;
  height: 30px;
}
.today-button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: rgba(24, 38, 64, 0.829);
  font-size: medium;
  font-weight: 600;
  border-color: rgba(24, 38, 64, 0.829);
  border-style: solid;
  border-width: 2px 2px 0 2px;
  height: 5%;
 

}
.task-button:hover {
  background-color: rgba(24, 38, 64, 0.829);
  color: #fafafa;
  border: none;
}
.plus-icon {
  margin-right: 10px;
  color: rgba(24, 38, 64, 0.829);
}
